.btn {
    padding: 6px 12px;
    border: none;
    font-size: 1.5rem;
    border-radius: 3px;
    margin-left: auto;
    font-weight: 700;
    margin-top: 5px;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;

    &-sm {
        padding: 6px 12px;
        font-size: 1.3rem;
    }

    &-none {
        display: none;
    }

    &-primary {
        background-color: #FF5722;
    }

    &-secondary {
        background-color: #212121;
        color: #FFFFFF;
    }

    &-edit {
        background-color: #0275d8;
        margin: 0 3px;
    }

    &-delete {
        background-color: #d9534f;
        margin: 0 3px;
    }
}