.btn {
    padding: 8px 16px;
    border: none;
    font-size: 1.6rem;
    border-radius: 3px;
    margin-left: auto;
    font-weight: 700;
    margin-top: 5px;
    outline: none;

    &-sm {
        padding: 6px 12px;
        font-size: 1.3rem;
    }

    &-none {
        display: none;
    }

    &-primary {
        background-color: #FF5722;
    }

    &-secondary {
        background-color: #212121;
        color: #FFFFFF;
    }
}